openapi: 3.2.0
info:
  title: Empowerly Status Components API
  version: v2
  summary: Read-only status, component, incident and maintenance data for the Empowerly platform.
  description: Unauthenticated JSON API served from Empowerly's own status subdomain (status.empowerly.com) by Atlassian Statuspage. Empowerly does not publish an API reference for this surface; every path, status code and response shape in this document was DERIVED from live unauthenticated probes of https://status.empowerly.com on 2026-08-12 (see x-evidence). Nothing here is invented — schemas describe the fields actually returned by those probes. Fields Statuspage may return but that were not observed on this page (for example populated incident objects, since Empowerly's incident history was empty at probe time) are documented as nullable/optional and marked accordingly.
  contact:
    name: Empowerly
    url: https://empowerly.com/
  x-provenance:
    generated: '2026-08-12'
    method: derived
    source: live unauthenticated probes of https://status.empowerly.com/api/v2/* on 2026-08-12; response schemas modeled from the observed bodies
    hosted_by: Atlassian Statuspage
    first_party: false
  x-evidence:
    fetched: '2026-08-12'
    probes:
    - url: https://status.empowerly.com/api/v2/summary.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/status.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/components.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/incidents.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/incidents/unresolved.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/scheduled-maintenances.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/scheduled-maintenances/upcoming.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/scheduled-maintenances/active.json
      http_status: 200
      content_type: application/json; charset=utf-8
    - url: https://status.empowerly.com/api/v2/bogus.json
      http_status: 404
      note: negative control — unknown paths under /api/v2 return 404
servers:
- url: https://status.empowerly.com/api/v2
  description: Empowerly public status page API (Atlassian Statuspage)
security: []
tags:
- name: Components
  description: The individual platform components Empowerly reports on.
paths:
  /components.json:
    get:
      tags:
      - Components
      operationId: listComponents
      summary: List status components
      description: Every component reported on the Empowerly status page. As of the 2026-08-12 probe the page published a single component, "Empowerly Web Portal".
      security: []
      responses:
        '200':
          description: Component list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Component:
      type: object
      properties:
        id:
          type: string
          examples:
          - h2qv5hy8rsbp
        name:
          type: string
          examples:
          - Empowerly Web Portal
        status:
          type: string
          enum:
          - operational
          - degraded_performance
          - partial_outage
          - major_outage
          - under_maintenance
          examples:
          - operational
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        position:
          type: integer
        description:
          type:
          - string
          - 'null'
        showcase:
          type: boolean
        start_date:
          type:
          - string
          - 'null'
          format: date
        group_id:
          type:
          - string
          - 'null'
        page_id:
          type: string
        group:
          type: boolean
        only_show_if_degraded:
          type: boolean
      required:
      - id
      - name
      - status
      - page_id
    Page:
      type: object
      description: Identity of the status page itself. Present on every response.
      properties:
        id:
          type: string
          description: Statuspage page identifier.
          examples:
          - thhkhnjsm4jy
        name:
          type: string
          examples:
          - Empowerly
        url:
          type: string
          format: uri
          examples:
          - https://status.empowerly.com
        time_zone:
          type: string
          examples:
          - America/Los_Angeles
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - updated_at
    ComponentsResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
      required:
      - page
      - components
  responses:
    NotFound:
      description: Unknown path under /api/v2. Observed as an HTML error document, not a JSON problem object — this API does not implement RFC 9457.
      content:
        text/html:
          schema:
            type: string
